In [1]:
import sys
sys.path.append("../../../../code/utils/")
import data_utils as du

In [2]:
du.load_raw_data("train").head(5)

    aid       uid  label
0   699  78508957     -1
1  1991   3637295     -1
2  1119  19229018     -1
3  2013  79277120     -1
4   692  41528441     -1

In [3]:
du.load_raw_data("test").head(5)

    aid       uid
0  2118  64355836
1   692  45051997
2   692  10869198
3  1918  75929554
4  1596   5790162

In [4]:
du.load_raw_data("ad").head(5)

,aid,advertiserId,campaignId,creativeId,creativeSize,adCategoryId,productId,productType
0,177,8203,76104,1500666,59,282,0,6
1,2050,19441,178687,245165,53,1,0,6
2,1716,5552,158101,1080850,35,27,113,9
3,336,370,4833,119845,22,67,113,9
4,671,45705,352827,660519,42,67,0,4

In [5]:
aid, (index, ad_feat_cnt) = du.load_ad_cnt("advertiserId")
print(aid[:5])
print(index[:5])
print(ad_feat_cnt[:5, :].toarray())

[ 177 2050 1716  336  671]
[ 60  79 149 243 285]
[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
  0 0 0 0 0 0 0]]

In [6]:
uid, (index_dict, user_feat_cnt) = du.load_user_cnt("age")
print(uid[:5])
print(index_dict)
print(user_feat_cnt[:5, :].toarray())

[26325489  1184123 76072711 63071413 81294159]
{'3': 4, '5': 5, '0': 2, '1': 1, '2': 3, '4': 0}
[[1 0 0 0 0 0]
 [0 0 0 1 0 0]
 [0 1 0 0 0 0]
 [1 0 0 0 0 0]
 [0 0 0 0 0 1]]

In [7]:
uid, (index_dict, user_feat_idf, user_feat_tfidf) = du.load_user_tfidf("interest1")
print(uid[:5])
print(index_dict)
print(user_feat_idf[:5])
print(user_feat_tfidf[:5, :30].toarray())

[26325489  1184123 76072711 63071413 81294159]
{'18': 107, '[nan]': 122, '96': 58, '69': 96, '68': 21, '121': 32, '80': 23, '28': 38, '58': 85, '5': 62, '116': 24, '47': 60, '57': 33, '38': 81, '104': 108, '76': 113, '4': 66, '66': 80, '46': 4, '81': 10, '16': 82, '2': 104, '122': 47, '106': 64, '74': 102, '83': 39, '27': 103, '111': 106, '51': 86, '101': 70, '63': 56, '99': 83, '95': 118, '109': 19, '90': 93, '45': 98, '84': 89, '98': 43, '30': 50, '62': 69, '114': 61, '79': 112, '49': 26, '3': 1, '22': 111, '32': 88, '13': 41, '53': 29, '26': 68, '97': 31, '48': 87, '108': 18, '103': 84, '23': 16, '88': 22, '118': 6, '117': 76, '120': 57, '77': 55, '115': 48, '91': 115, '36': 73, '31': 51, '75': 20, '33': 120, '7': 101, '110': 74, '42': 28, '93': 49, '56': 72, '50': 75, '10': 99, '21': 9, '61': 67, '37': 40, '82': 94, '54': 97, '60': 17, '25': 91, '6': 114, '43': 52, '65': 78, '24': 25, '72': 34, '44': 7, '70': 13, '94': 63, '59': 2, '12': 109, '119': 8, '89': 79, '87': 42, '52': 54, '73': 12, '92': 37, '17': 121, '112': 53, '9': 30, '105': 119, '41': 27, '107': 100, '85': 90, '20': 65, '71': 45, '40': 110, '8': 14, '39': 5, '86': 15, '100': 77, '78': 117, '35': 11, '1': 0, '34': 92, '67': 44, '102': 46, '55': 59, '19': 95, '15': 3, '29': 71, '14': 105, '11': 116, '113': 35, '64': 36}
[4.8680967  3.88664955 2.05127016 3.47734059 1.79527382]
[[0.         0.         0.13468499 0.         0.11787644 0.
  0.18118999 0.26728286 0.         0.         0.         0.
  0.         0.09340389 0.17084044 0.16706833 0.         0.
  0.         0.14714608 0.12708702 0.         0.         0.
  0.         0.         0.10478055 0.20767909 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.72868612 0.         0.         0.
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.19759608 0.         0.         0.
  0.         0.         0.         0.         0.         0.3349494
  0.         0.13703266 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.22947408 0.         0.15372334 0.30468559 0.27056388 0.        ]
 [0.         0.         0.14396942 0.         0.12600219 0.
  0.         0.         0.         0.         0.         0.
  0.         0.09984263 0.         0.         0.22328571 0.
  0.         0.         0.13584769 0.         0.         0.
  0.         0.         0.11200354 0.         0.19713409 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.37484494 0.         0.         0.
  0.         0.         0.30905169 0.         0.         0.        ]]

In [8]:
df_app_install = du.load_user_feature("appIdInstall")
df_app_install.isnull().sum() / df_app_install.shape[0]

uid             0.000000
appIdInstall    0.979839
dtype: float64